<ion-header>
  <ion-toolbar>
    <ion-title>
      Prime Jokes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input placeholder="Procure por sua piada" [(ngModel)]="search" clearInput></ion-input>
    <ion-button expand="block" fill="outline" (click)="searchJoke(search)">Faça-me rir!</ion-button>
    <ion-button expand="block" fill="outline" color="danger" (click)="clearJoke()">Limpar</ion-button>

    <div *ngFor="let piada of searchedJokes">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Pergunta</ion-card-subtitle>
          <ion-card-title>{{ piada.pergunta }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>{{ piada.resposta }}</ion-card-content>
      </ion-card>
    </div>
  
  </div>
</ion-content>
