<ion-header>
  <ion-toolbar>
    <ion-title>
      Prime Jokes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input placeholder="Procure por sua piada" [(ngModel)]="search" clearInput></ion-input>
    <ion-button expand="block" fill="outline" (click)="searchJoke(search)">Faça-me rir!</ion-button>
    <ion-button expand="block" fill="outline" color="danger" (click)="clearJoke()">Limpar</ion-button>

    <ion-grid *ngFor="let piada of searchedJokes">
        <ion-row>
            <ion-col><a (click)="viewJoke(piada)" >{{ piada.pergunta }}</a></ion-col>
        </ion-row>
    </ion-grid>
  
  </div>
</ion-content>